@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Poppins, sans-serif;
}

html,
body {
  font-size: 18px;
  background-color: #f7f7f7;
}


h1 {
  max-width: 940px;
  font-size: 2.5em;
}


/* nav */
.logo {
  width: 60px;
  height: 50px;
}
/*hOME*/

.ImagenPrincipal{
  display: flex;
background-size: cover;
background-image: url("../Img/Fondo.jpg");
 height: 70vh;
 justify-content: center;
 align-items: flex-end;

}

.container-lg{
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  padding: 15px;
 
}

.containerReserva{
background-color: #f9FAFB;
display: flex;
align-items: center;
padding: 25px;

}
.containerReserva h2{
color: #111827;
font-size: 50px;
}

.containerReserva p{
  color: #6b7280;
  font-size: 22px;
  margin: 25px;
  }
  
  .containerFormulario {
margin-left: 50px;
margin-top: 40px;

  }

/*  ccs platos  MENU  */
.contenedor-platos{
    width: 1170px; 
    margin: 10px 10px 50px;  
    display: flex;
    height: 368px;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
}

.imagen-desayuno{
    height: 100%;
    width: 100%;
}

.texto-platos{
text-align: center;
 padding: 40px;
 font-family:Poppins ;
 font-weight: 400;
 line-height: 1.5 rem;
 
}

.nombre-plato{
font-size: 1.3 rem;
}

.origen-plato{
font-size: 1.3rem;
margin-top: 15px;
 padding-bottom: 30px;
}

.contenido-del-plato{
    text-align: justify;
    font-size: 1.1 rem;
}
/*fomulkario*/

.container-sm{
  min-height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap:wrap
}



@media screen and (max-width: 1024px) {
  .contenedor-platos{
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
  }
  .imagen-desayuno{
    height: 100%;
   width: 100%;
  }

  .container-lg{
    flex-direction: column;
   
  }
  .btnForm{
    justify-content: center;
    align-items: center
  }
  .containerFormulario{
margin-left:-15px;
padding: 15px;
align-items: center;
  }
}